<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.didii">
    <!-- check network permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- check wifi state -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Didii">
        <activity
            android:name=".MainActivity5_out_paris"
            android:exported="false" />
        <activity
            android:name=".MainActivity5_out_rio"
            android:exported="false" />
        <activity
            android:name=".MainActivity5_out_newyork"
            android:exported="false" />
        <activity
            android:name=".MainActivity5_in_danang"
            android:exported="false" />
        <activity
            android:name=".MainActivity5_in_dalat"
            android:exported="false" />
        <activity
            android:name=".MainActivity5_in_halong"
            android:exported="false" />
        <activity
            android:name=".MainActivity_me"
            android:exported="false" />
        <activity
            android:name=".MainActivity_news"
            android:exported="false" />
        <activity
            android:name=".MainActivity_mytour"
            android:exported="false" />
        <activity
            android:name=".MainActivity5_in_hagiang"
            android:exported="false" />
        <activity
            android:name=".MainActivity4_diadiemout"
            android:exported="false" />
        <activity
            android:name=".MainActivity4_diadiemin"
            android:exported="false" />
        <activity
            android:name=".MainActivity3_trangchu"
            android:exported="false" />
        <activity
            android:name=".MainActivity2_dky"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>